/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */

/* Variables */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 220;
  /* HSL color mode */
  --base-color: hsl(var(--hue), 100%, 5%);
  --base-color-second: hsl(var(--hue), 65%, 88%);
  --base-color-alt: hsl(var(--hue), 57%, 53%);
  --title-color: hsl(var(--hue), 41%, 10%);
  --text-color: hsl(0, 0%, 46%);
  --text-color-light: hsl(0, 10%, 99%);
  --body-color: hsl(0, 0%, 90%);
  --header-border-white: hsl(0, 10%, 99%);
  --white: #ffffff;
  --black: #000000;

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
  --body-font-number: 'Cormorant SC', serif;
}

/* Index */

html {
  background-color: var(--black); 
}
header{
  display: flex;
  height: 200px;
  width: auto;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-image: url(../img/logo.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header div.container  {
  z-index: 3;
  background-image: url(../img/logo.jpeg);
  background-position: center;
  background-size: cover;
}

/* h1 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  text-align: center;
  padding: 1rem 0;
} */

/* inicio do Section-parallax */
section.parallax {
  position: relative;
  width: 100%;
  min-height: 62.5rem;
  background-image: url(../img/faxada-stopBar.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section.parallax > .container {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 960px;
  color: var(--black);
  background-color: rgba(255,255,255,0.5);
  display: grid;
  grid-template-columns: 1fr;
}

section.parallax h2 {
  padding-top: 2rem;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 2rem;
}

section.parallax span {
  margin: 20px 0;
  text-align: justify;
  color: var(--black);
}

.overlay-parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(20,20,20,0.6);
}
/* fim do Section-parallax */

/* grids */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-template-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:auto;
  height: auto;
}

div.box-title > span {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
}

div.box {
  display: grid;
  width:auto;
  height: auto;
  justify-items: stretch;
  align-items: center;
  margin: 0 2%;
}

div.box > img{
  width: 80px;
  height: 80px;
  padding: 10px 5px;
}

div.box > img.bebida{
  width: 40px;
  height: 100px;
  padding: 10px 5px;
}

div.box > img.bebida2{
  width: 60px;
  height: 100px;
  padding: 10px 5px;
}

div.box > img.bebida3{
  width: 90px;
  height: 90px;
  padding: 10px 5px;
}

div.box > p{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--body-font);
}

div.box > p.right{
  margin-bottom: 1%;
  margin-top: 0;
  text-align: right;
  font-family: var(--body-font-number);
  font-weight: 700;
  font-size: 1.5rem;
}

div.box .grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

footer {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

footer div.container  {
  width: 1280px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div.container p {
  color: var(--white);
  font-size: 1rem;
  padding: 2% 0;
}

footer div.container div.redes-social i {
  color: var(--white);
  font-size: 2rem;
  padding: 2% 0;
}

@media screen and (max-width: 450px){
  section.parallax h2 {
    font-size: 1.5rem;
  }

  div.box-title > span {
    font-size: 1rem;
  }

  div.box > p{
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  div.box > p.right{
    font-size: 1rem;
  
  }

  footer div.container p {
    font-size: 0.8rem;
    margin-left: 2%;
  }
  
  footer div.container div.redes-social i {
    font-size: 1.8rem;
    margin-right: 2%;
  }
}